<?xml version="1.0"?>
<config>
    <modules>
        <Studioforty9_Schema>
            <version>0.1.1</version>
        </Studioforty9_Schema>
    </modules>
    <global>
        <blocks>
            <studioforty9_schema>
                <class>Studioforty9_Schema_Block</class>
            </studioforty9_schema>
        </blocks>
        <helpers>
            <studioforty9_schema>
                <class>Studioforty9_Schema_Helper</class>
            </studioforty9_schema>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <studioforty9_schema>
                    <file>studioforty9_schema.xml</file>
                </studioforty9_schema>
            </updates>
        </layout>
    </frontend>
</config>